
body
{
	background:#FFFAF0;
	font-family:Arial,Tahoma;
}

fieldset
{
	background:#F8F8FF;
	border:1px solid #CCC;
	padding:20px;
	width:500px;
	margin:20px auto
}

legend
{
background:#48D1CC;
border:1px solid #CCC;
padding:10px
}

label
{
	margin-bottom:10px;
}

label[name="Favourit"]
{
	display:block
}

input 
{
margin-bottom:10px
}

input[type="text"]
{
	padding:8px;
	width:300px;
	display:block;
	margin:20px auto;
}
select
{
	width:100px;
	padding:5px;
	display:block;
	margin-left:203px;

}

label[name="inforamtion"]
{
	width:50px;
	display:block;
	margin:20px auto
}

input[type="submit"]
{
	background:#00FF7F;
	margin:20px auto;
	padding:8px;
	width:300px;
	display:block
}